doctype html
html(ng-app="zirconApp")
    head
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Zircon
        script(src="/javascripts/jquery-1.11.3.min.js")
        script(src="/bootstrap/js/bootstrap.min.js")
        script(src="/angular/angular.min.js")
        script(src="/angular/zircon.js")
        script(src="/app.js")
        link(rel="stylesheet", href="/bootstrap/css/bootstrap.min.css")
        link(rel="stylesheet", href="/stylesheets/style.css")
        script(type="text/javascript").
            jQuery(document).ready(function($) {
                $(".datarow").click(function() {
                    window.document.location = $(this).data("href");
                });
            });

    body
        center
            .logo
        block content





