extends layout

block content
	center
		h1= title
		h2= "This is the results page!"
		br
		br
		table
			tr
				th.datetime Date / Time
				th.user User
				th.source Source
				th.name Test Run
				th.passcount Pass
				th.failcount Fail
				th.skipcount Skip
				th.crashcount Crash
			tr
				td 09-28-2015 17:19:00
				td jpriest
				td 192.168.50.1
				td
					a(href="/results/testruns/12345") Test Run 1 - Objects
				td 50
				td 50
				td 1
				td 0
			tr
				td 09-28-2015 17:19:00
				td jpriest
				td 192.168.50.1
				td Test Run 2 - Event Management
				td 100
				td 0
				td 1
				td 0
			tr
				td 09-28-2015 17:19:00
				td jpriest
				td 192.168.50.1
				td Test Run 3 - Data Exchange
				td 0
				td 100
				td 1
				td 0
		br
		br
		a(href="/") Back








